body {
    background-color: #DEB887;
}

#base {
    width: 914px;
    float: left;
    padding: 0!important;
    margin: 0!important;
    background-color: white;
}

h1 {
    position: absolute;
    left: 50%;
    color: white;
}
